 nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 70px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    background-color: gainsboro;
    width: 150px;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-right: 1px;
    position: relative;
}
ul ul{
    position: absolute;
    width: 100%;
    opacity: .8;
}
ul li a{
    text-decoration: none;
    color: black;
    display: block;
}
ul li a:hover{
    background-color: #00A1DE;
    color: black;
}
ul li ul li{

    display: none;
}
ul li:hover ul li{
    
    display: block;
}

.content-head{
    background: url("/images/inf-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.content-head h2{
    color: #00A1DE;
    text-align: center;
    padding-top: 7%;
    font-size: 70px;
}
.content-head p{
    color: white;
    text-align: center;
}