nav{
    display: flex;
    margin: 20px 30px;
}
.country h2{
    color: black;
}
.rwand-links ul{
    display: flex;
    justify-content: space-around;
}
.rwand-links li{
    list-style: none;
    padding: 5px;
    margin-right: 20px;
    border-bottom: 2px solid black;
}
.rwand-links a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
}
.rwand-links a:hover{
    color: #00A1DE;
}
.rwand-links li:hover{
    border-color: #00A1DE;
}

.content-head{
    background: url("/images/inf-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.content-head h2{
    color: #00A1DE;
    text-align: center;
    padding-top: 7%;
    font-size: 70px;
}
.content-head p{
    color: white;
    text-align: center;
}

em{
    color: #00A1DE;
}
.content-1{
    margin: 100px 0;
}
.trans h4{
    color: black;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
}
.content-1 img{
    float: left;
    margin-right: 40px;
}
.trans{
    color: rgb(112, 107, 107);
    padding: 50px;
}
.content-2{
    clear: both;
    margin: 50px 0;
    text-align: center;
}
.content-2 h4{
    font-size: 40px;
    font-weight: 400;
    padding-top: 40px;
}
.special{
    width: 500px;
    margin: 0 30%;
    color: rgb(112, 107, 107);
}
.content-3{
    padding: 50px 0;
}
.innovation {
    float: left;
    width: 500px;
    margin: 30px 50px;
    padding-top: 30px;
}
.innovation h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.innovation p{
    color: rgb(112, 107, 107);
}
.content-4{
    text-align: center;
    padding: 50px;
}
.content-4 h4{
    font-size: 40px;
    font-weight: 400;
}
.content-4 p{
    width: 500px;
    margin: 0 30%;
    color: rgb(112, 107, 107);
    padding-bottom: 40px;
}
.content-5{
    text-align: center;
    padding: 50px;
}
.content-5 h4{
    font-size: 40px;
    font-weight: 400;
}
.content-5 p{
    width: 600px;
    margin: 0 30%;
    color: rgb(112, 107, 107);
    padding-bottom: 40px;
}
.content-6{
    text-align: center;
    padding: 50px;
}
.content-6 h4{
    font-size: 40px;
    font-weight: 400;
}
.content-6 p{
    color: rgb(112, 107, 107);
}
.footer{
    background-color: #20603d;
    color:#d3d3d3;
    height: 400px;
    position: relative;
}
.footer-bottom{
    background-color: #343a40;
    color:#FAD201;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom:0px;
    left: 0px;
    padding-top: 20px ;
    width:100%

}
.footer-content{
    height:350px;
    display: flex;
}
.footer-content h1,h2{
color:white;
}
.footer-content .about h1 span{
    color: #00A1DE;
}
.footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;

}
.footer-content .about .socials a{
    border:1px solid grey;
    width:45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .5s;

}
.footer-content .about .socials a:hover{
    border: 1px solid white;
    color:white;
    transition: all .5s;

}

.footer-content  .links ul a{
    display: block;
    margin-bottom: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    transition: all .3s;

}
 .footer-content .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer-content .contact-form .contact-input{
    background: #272727;
    color: white;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 1.0rem 1.5rem;
    border: none;
}
.footer-content .contact-form .contact-input:focus{
    background: #1a1a1a;
}
.btn-big{
    
    padding:  1.0rem 1.5rem;
    line-height: 1.3em;
}
.contact-btn{
    margin-left: 70px;
}
.footer-section{
    flex:1;
    padding:25px;
}