 nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 70px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li{
    background-color: gainsboro;
    width: 150px;
    float: left;
    text-align: center;
    line-height: 50px;
    margin-right: 1px;
    position: relative;
}
ul ul{
    position: absolute;
    width: 100%;
    opacity: .8;
}
ul li a{
    text-decoration: none;
    color: black;
    display: block;
}
ul li a:hover{
    background-color: #00A1DE;
    color: black;
}
ul li ul li{

    display: none;
}
ul li:hover ul li{
    
    display: block;
}

.content-head{
    background: url("/images/inf-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}
.content-head h2{
    color: #00A1DE;
    text-align: center;
    padding-top: 7%;
    font-size: 70px;
}
.content-head p{
    color: white;
    text-align: center;
}

em{
    color: #00A1DE;
}
.content-1{
    margin: 100px 0;
}
.trans h4{
    color: black;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
}
.content-1 img{
    float: left;
    margin-right: 40px;
}
.trans{
    color: rgb(112, 107, 107);
    padding: 50px;
}
.content-2{
    clear: both;
    margin: 50px 0;
    text-align: center;
}
.content-2 h4{
    font-size: 40px;
    font-weight: 400;
    padding-top: 40px;
}
.special{
    width: 500px;
    margin: 0 30%;
    color: rgb(112, 107, 107);
}
.content-3{
    padding: 50px 0;
}
.innovation {
    float: left;
    width: 500px;
    margin: 30px 50px;
    padding-top: 30px;
}
.innovation h4{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.innovation p{
    color: rgb(112, 107, 107);
}
.content-4{
    text-align: center;
    padding: 50px;
}
.content-4 h4{
    font-size: 40px;
    font-weight: 400;
}
.content-4 p{
    width: 500px;
    margin: 0 30%;
    color: rgb(112, 107, 107);
    padding-bottom: 40px;
}
.content-5{
    text-align: center;
    padding: 50px;
}
.content-5 h4{
    font-size: 40px;
    font-weight: 400;
}
.content-5 p{
    width: 600px;
    margin: 0 30%;
    color: rgb(112, 107, 107);
    padding-bottom: 40px;
}
.content-6{
    text-align: center;
    padding: 50px;
}
.content-6 h4{
    font-size: 40px;
    font-weight: 400;
}
.content-6 p{
    color: rgb(112, 107, 107);
}